@media screen and (max-width: 575px) {
  header {
    padding: 30px 35px;

    a,
    p {
      font-size: 0.9rem;
      margin: 0;
      width: 50%;
    }
  }

  .page-content {
    h1 {
      margin-bottom: 0;
      font-size: 1.8rem;
    }
    p {
      width: 100%;
      font-size: 1.3rem;
    }
  }

  .answer {
    width: 20rem;
  }
}
