header {
  padding: 20px 35px;
  border-bottom: 2px dashed var(--lightGreen);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  a,
  p {
    width: 25%;
    text-decoration: none;
    color: var(--cream);
    font-size: 1.2rem;
  }

  a:hover {
    color: var(--yellow);
  }
}
