@import "../base/mixins.scss";

header {
  @include flexCenter();
  padding: 20px 35px;
  border-bottom: 2px dashed var(--lightGreen);
  justify-content: space-between;

  a,
  p {
    width: 25%;
    text-decoration: none;
    color: var(--cream);
    font-size: 1.2rem;
  }

  a:hover {
    color: var(--yellow);
  }
}
